<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
	<div class="branding-title">
		<div class="breadcrumb container mrgn-bttm-0">
			<p class="h4 mrgn-tp-0 none-bottom">Statistiques du gouvernement du Canada<br />
				<span class="text-primary h2">Infrastructure Canada</span></p>
		</div>
	</div>
	<div class="container">
		<div class="row">