<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
	<div class="branding-title">
		<!--<style> .breadcrumb .btn-primary{background-color:#335075;border-color:#335075;} .breadcrumb .btn-primary:hover{background-color:#1c578a;border-color:#091c2d;}</style>-->
		<div class="breadcrumb container mrgn-bttm-0">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<p class="h4 mrgn-tp-0 none-bottom">Government of Canada Statistics<br>
						<span class="text-primary h2">Public Health Agency of Canada</span></p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<p class="text-right mrgn-tp-md mrgn-bttm-0"><a href="https://www.statcan.gc.ca/eng/covid19" class="btn btn-xs btn-primary">COVID-19: A data perspective</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">