<meta property="dcterms:service" content="StatCan"/> 
<meta property="dcterms:accessRights" content="2"/>
<script src="//assets.adobedtm.com/caacec67651710193d2331efef325107c23a0145/satelliteLib-c2082deaf69c358c641c5eb20f94b615dd606662.js"></script>