<div class="pagedetails">
	<div class="row">
		<div class="col-sm-6 col-lg-4 mrgn-tp-sm">
			<details class="brdr-0">
				<summary class="btn btn-default text-center">Report a problem on this page</summary>
				<div class="clearfix"></div>
				<div class="well row">
					<div class="gc-rprt-prblm">
						<div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
							<p>Is something not working? Is there information outdated? Can't find what you're looking for?</p>
							<p>Please <a href="https://www.statcan.gc.ca/eng/reference/refcentre/index?MM=RAP">contact us</a> and let us know how we can help you.</p>
							<p><a href="https://www.statcan.gc.ca/eng/reference/privacy?MM=RAP">Privacy notice</a></p>
						</div>
					</div>
				</div>
			</details>
		</div>
		<!-- Share button -->
		<div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
		<!-- END Share button -->
	</div>
	<dl id="wb-dtmd">
		<dt>Date modified:&#32;</dt>
		<dd><time property="dateModified">