<footer role="contentinfo" id="wb-info">
	<nav role="navigation" class="container wb-navcurr">
		<h2 class="wb-inv">&#192; propos du gouvernement</h2>
		<ul class="list-unstyled colcount-sm-2 colcount-md-3">
			<li><a href="https://www.statcan.gc.ca/fra/reference/centreref/index?MM=1">Contactez-nous</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html">Fonction publique et force militaire</a></li>
			<li><a href="https://www.canada.ca/fr/nouvelles.html">Nouvelles</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a></li>
			<li><a href="https://www.canada.ca/fr/transparence/rapports.html">Rapports à l&#39;échelle du gouvernement</a></li>
			<li><a href="http://pm.gc.ca/fra">Premier ministre</a></li>
			<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">Comment le gouvernement fonctionne</a></li>
			<li><a href="http://ouvert.canada.ca/">Gouvernement ouvert</a></li>
		</ul>
	</nav>
	<div class="brand">
		<div class="container">
			<div class="row">
				<nav class="col-md-10 ftr-urlt-lnk">
					<h2 class="wb-inv">&#192; propos de ce site</h2>
					<ul>
						<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
						<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
						<li><a href="https://www.canada.ca/fr/gouvernement/a-propos.html">À propos de Canada.ca</a></li>
						<li><a href="https://www.statcan.gc.ca/fra/reference/avis?MM=1">Avis</a></li>
						<li><a href="https://www.statcan.gc.ca/fra/reference/privee?MM=1">Confidentialité</a></li>
					</ul>
				</nav>
				<div class="col-xs-6 visible-sm visible-xs tofpg">
					<a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
				<div class="col-xs-6 col-md-2 text-right">
					<object type="image/svg+xml" tabindex="-1" role="img" data="/wet-boew4b/assets/wmms-blk.svg" aria-label="Symbole du gouvernement du Canada"><span class="wb-inv">Gouvernement du Canada</span></object>
				</div>
			</div>
		</div>
	</div>
</footer>

<!--[if gte IE 9 | !IE ]><!-->

<script src="/wet-boew4b/js/wet-boew.min.js"></script>
<script src="/wet-boew4b/js/theme.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/wet-boew4b/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script type="text/javascript">
	var lz_data = {overwrite:false,language:'fr'};
</script>
<script type="text/javascript" id="0671342afd1f122f4891265fc94236c1" src="https://www.statcan.gc.ca/livechat/script.php?id=0671342afd1f122f4891265fc94236c1" defer=""></script>
<!-- LiveZilla Script END -->