<footer role="contentinfo" id="wb-info">
	<nav role="navigation" class="container wb-navcurr">
		<h2 class="wb-inv">About government</h2>
		<ul class="list-unstyled colcount-sm-2 colcount-md-3">
			<li><a href="https://www.statcan.gc.ca/eng/reference/refcentre/index?MM=1">Contact us</a></li>
			<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
			<li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
			<li><a href="https://www.canada.ca/en/news.html">News</a></li>
			<li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
			<li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
			<li><a href="http://pm.gc.ca/eng">Prime Minister</a></li>
			<li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
			<li><a href="http://open.canada.ca/en/">Open government</a></li>
		</ul>
	</nav>
	<div class="brand">
		<div class="container">
			<div class="row">
				<nav class="col-md-10 ftr-urlt-lnk">
					<h2 class="wb-inv">About this site</h2>
					<ul>
						<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
						<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
						<li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li>
						<li><a href="https://www.statcan.gc.ca/eng/reference/terms-conditions?MM=1">Terms and conditions</a></li>
						<li><a href="https://www.statcan.gc.ca/eng/reference/privacy?MM=1">Privacy</a></li>
					</ul>
				</nav>
				<div class="col-xs-6 visible-sm visible-xs tofpg">
					<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
				<div class="col-xs-6 col-md-2 text-right">
					<object type="image/svg+xml" tabindex="-1" role="img" data="/wet-boew4b/assets/wmms-blk.svg" aria-label="Symbol of the Government of Canada"><span class="wb-inv">Government of Canada</span></object>
				</div>
			</div>
		</div>
	</div>
</footer>

<!--[if gte IE 9 | !IE ]><!-->

<script src="/wet-boew4b/js/wet-boew.min.js"></script>
<script src="/wet-boew4b/js/theme.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="/wet-boew4b/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<!-- LiveZilla Script BEGIN -->
<script type="text/javascript">
	var lz_data = {overwrite:false,language:'en'};
</script>
<script type="text/javascript" id="c2e78f4994aa191dd320f0f115f8fd70" src="https://www.statcan.gc.ca/livechat/script.php?id=c2e78f4994aa191dd320f0f115f8fd70" defer=""></script>
<!-- LiveZilla Script END -->
