">English</a></li>
</ul>
</div>
</div>
</section>
<div class="row">
<div class="brand col-xs-8 col-sm-9 col-md-6">
<img id="gcwu-sig" src="/wet-boew4b/assets/sig-blk-gov-fr.svg" alt="Symbole de Gouvernement du Canada"><span class="wb-inv">Gouvernement du Canada, Emploi et développement social Canada</span>
<!--a href="//www.statcan.gc.ca/fra/debut"><object type="image/svg+xml" tabindex="-1" data="/wet-boew4b/assets/sig-blk-gov-fr.svg"><span class="wb-inv">Gouvernement du Canada, Statistique Canada</span></object></a-->
</div>
<section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
<h2>Recherche et menus</h2>
<ul class="list-inline text-right chvrn">
<li><a href="#mb-pnl" title="Recherche et menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Recherche et menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>
</section>

<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
<h2 class="wb-inv">Recherche</h2>
<form action="https://www120.statcan.gc.ca/stcsr/fr/sr1/srs" method="get" name="cse-search-box" role="search" class="form-inline">
<div class="form-group">
<label for="wb-srch-q" class="wb-inv">Recherchez le site Web</label>
<input type="hidden" name="fq" value="stclac:2" />
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Rechercher dans le site Web">
<datalist id="wb-srch-q-ac">
<!--[if lte IE 9]><select><![endif]-->
<!--[if lte IE 9]></select><![endif]-->
</datalist>
</div>
<div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Recherche</span></button>
</div>
</form>
</section>
</div>
</div>

<nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" data-trgt="mb-pnl" data-ajax-replace="/wet-boew4b/ajax/sitemenu-fr.html" typeof="SiteNavigationElement">
	<h2 class="wb-inv">Menus des sujets</h2>
	<div class="container nvbar">
		<div class="row">
			<ul class="list-inline menu">
				<li><a href="https://www150.statcan.gc.ca/n1/fr/sujets?MM=1">Sujets</a></li>
				<li><a href="https://www150.statcan.gc.ca/n1/fr/type/donnees?MM=1">Donn&eacute;es</a></li>
				<li><a href="https://www150.statcan.gc.ca/n1/fr/type/analyses?MM=1">Analyses</a></li>
				<li><a href="https://www150.statcan.gc.ca/n1/fr/type/references?MM=1">R&eacute;f&eacute;rences</a></li>
				<li><a href="https://www150.statcan.gc.ca/n1/fr/geo?MM=1">G&eacute;ographie</a></li>
				<li><a href="https://www12.statcan.gc.ca/census-recensement/index-fra.cfm?MM=1">Recensement</a></li>
				<li><a href="https://www.statcan.gc.ca/fra/enquetes?MM=1">Enqu&ecirc;tes et programmes statistiques</a></li>
				<li><a href="https://www.statcan.gc.ca/fra/apercu/statcan?MM=1">&Agrave; propos de StatCan</a></li>
				<li><a href="https://www.canada.ca/fr.html">Canada.ca</a></li>
			</ul>
		</div>
	</div>
</nav>

<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
<div class="container">
<div class="row">