">Fran&#231;ais</a></li>
</ul>
</div>
</div>
</section>
<div class="row">
<div class="brand col-xs-8 col-sm-9 col-md-6">
<a href="https://www.statcan.gc.ca/eng/start"><img src="/wet-boew4b/assets/sig-blk-en.svg" alt="Symbol of Statistics Canada"><span class="wb-inv">Government of Canada, Statistics Canada</span></a>
</div>
<section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
<h2>Search and menus</h2>
<ul class="list-inline text-right chvrn">
<li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
</ul>
<div id="mb-pnl"></div>
</section>

<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
<h2 class="wb-inv">Search</h2>
<form action="https://www120.statcan.gc.ca/stcsr/en/sr1/srs" method="get" name="cse-search-box" role="search" class="form-inline">
<div class="form-group">
<label for="wb-srch-q" class="wb-inv">Search website</label>
<input type="hidden" name="fq" value="stclac:2" />
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Search website">
<datalist id="wb-srch-q-ac">
<!--[if lte IE 9]><select><![endif]-->
<!--[if lte IE 9]></select><![endif]-->
</datalist>
</div>
<div class="form-group submit">
<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
</div>
</form>
</section>
</div>
</div>

<nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" data-trgt="mb-pnl" data-ajax-replace="/wet-boew4b/ajax/sitemenu-en.html" typeof="SiteNavigationElement">
	<div class="container nvbar">
		<h2 class="wb-inv">Topics menu</h2>
		<div class="row">
			<ul class="list-inline menu">
				<li><a href="https://www150.statcan.gc.ca/n1/en/subjects?MM=1">Subjects</a></li>
				<li><a href="https://www150.statcan.gc.ca/n1/en/type/data?MM=1">Data</a></li>
				<li><a href="https://www150.statcan.gc.ca/n1/en/type/analysis?MM=1">Analysis</a></li>
				<li><a href="https://www150.statcan.gc.ca/n1/en/type/reference?MM=1">Reference</a></li>
				<li><a href="https://www150.statcan.gc.ca/n1/en/geo?MM=1">Geography</a></li>
				<li><a href="https://www12.statcan.gc.ca/census-recensement/index-eng.cfm?MM=1">Census</a></li>
				<li><a href="https://www.statcan.gc.ca/eng/surveys?MM=1">Surveys and statistical programs</a></li>
				<li><a href="https://www.statcan.gc.ca/eng/about/statcan?MM=1">About StatCan</a></li>
				<li><a href="https://www.canada.ca/en.html">Canada.ca</a></li>
			</ul>
		</div>
	</div>
</nav>

<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
	<div class="container">
		<div class="row">