<!-- Left navigation -->
<span class="mrgn-tp-md">&nbsp;</span>
<nav class="col-md-3 col-md-pull-9" id="wb-sec" role="navigation">
  <h2 class="wb-inv">Secondary menu</h2>
  <ul class="list-group menu list-unstyled" role="menu">
    <li><a href="http://www5.statcan.gc.ca/researchers-chercheurs/index.action?lang=eng&amp;univ=6&amp;search=&amp;start=1&amp;end=25&amp;sort=0&amp;themeId=0&amp;date=&amp;series=&amp;author=&amp;themeState=-1&amp;dateState=-1&amp;seriesState=-1&amp;authorState=-1&amp;showAll=false" id="top" class="list-group-item nav-top">Publications</a></li>
    <li> <a href="../../ssi/left-nav.html" id="pub-tle" class="list-group-item nav-pubtle">Education Indicators in Canada: An International Perspective 2014</a>
      <ul class="list-group list-unstyled">
        <li> <a href="left-nav.html" class="list-group-item">Main page pop</a></li>
        <li> <a href="left-nav-intro.html" class="list-group-item">Introduction</a></li>
        <li> <a href="left-nav-hl.html" class="list-group-item">Highlights</a></li>
        <li> <a href="left-nav-ntr.html" class="list-group-item">Note to readers</a></li>
        <li><a href="left-nav-chap.html" class="list-group-item">Chapters</a></li>
      </ul>
    </li>
  </ul>
</nav>
<!--END Left navigation --> 
