<div class="row col-sm-12 visible-sm">
<h2 class="redline">Subjects tab</h2>
<p class="col-md-offset-8 text-right mrgn-right-0">For more options, refer to the <a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/a2z" title="A to Z Subject index">complete A-Z list</a>.</p>
        <div class="col-sm-6">
            	<ul class="line-height-2 mrgn-bttm-0">
                	<li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/aboriginal_peoples" title="" class="">Aboriginal peoples</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/agriculture" title="" class="">Agriculture</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/business" title="" class="">Business</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/children_and_youth" title="" class="">Children and youth</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/construction" title="" class="">Construction</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/crime_and_justice" title="" class="">Crime and justice</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/culture_and_leisure" title="" class="">Culture and leisure</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/economic_accounts" title="" class="">Economic accounts</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/education_training_and_learning" title="" class="">Education, training and learning</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/energy" title="" class="">Energy</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/environment" title="" class="">Environment</a></li>
                	<li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/ethnic_diversity_and_immigration" title="" class="">Ethnic diversity and immigration</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/families_households_and_housing" title="" class="">Families, households and housing</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/government" title="" class="">Government</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/health" title="" class="">Health</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/income_pensions_spending_and_wealth" title="" class="">Income, pensions, spending and wealth</a></li>
  </div>
 <div class="col-sm-6">                   
                   <ul class="line-height-2 mrgn-tp-0">                  
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/information_and_communications_technology" title="" class="">Information and communications technology</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/international_trade" title="" class="">International trade</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/labour" title="" class="">Labour</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/languages" title="" class="">Languages</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/manufacturing" title="" class="">Manufacturing</a></li>
                 <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/population_and_demography" title="" class="">Population and demography</a></li>
                 	<li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/prices_and_price_indexes" title="" class="">Prices and price indexes</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/retail_and_wholesale" title="" class="">Retail and wholesale</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/science_and_technology" title="" class="">Science and technology</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/seniors" title="" class="">Seniors</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/service_industries" title="" class="">Service industries</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/society_and_community" title="" class="">Society and community</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/statistical_methods" title="" class="">Statistical methods</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/transportation" title="" class="">Transportation</a></li>
                    <li><a href="http://wwwstaging.statcan.gc.ca/beta/n1/en/subject/travel_and_tourism" title="" class="">Travel and tourism</a></li>
                  </ul>
                  </div>
        </div>

<div class="clearfix"></div>