/* all tables */
#errorDiv{
	padding: 2rem;
	border-width: 4px;
	border-radius:  10px;
	border: #26374a;
	border-style:solid;
}
.details .chart-data-table {
  padding-bottom: 0em;
}
.table {
	margin-bottom: 0px;
}
.symbolLink {
  font-size: 14px;
}

.area svg text {
	fill: currentColor;
}

.area svg .tick line,
.area svg .domain {
	stroke: currentColor;
}

.tblHeader {
  text-align: right;
}

.table td {
	text-align: right;
}
/*road dataset*/
/*-- tooltip --*/
.hoverLine {
   stroke: #000;
   stroke-width: 1px;
   opacity: 1;
   pointer-events: none;
}
.linecursor {
	margin-left: 63px;
}
.gas {
	fill: #EDDB7C;
}
.diesel {
	fill: #F99691;
}
.lpg {
	fill: #5DC1BE;
}
.mapCB rect {
	stroke: black;
	stroke-width: 0;
}
.roadAreaCB text {
	font-size: 13px;
	fill: #000;
}
.tableCaption {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  }
.roadMapHighlight {
	stroke: #9e9d9d !important;
	stroke-width: 0.75 !important;
}
.railOriginMapHighlight {
	stroke: #525252 !important;
	stroke-width: 0.75 !important;
}
.railDestMapHighlight {
	stroke: #E6233A !important;
	stroke-width: 0.75 !important;
}
.moveMap{
  transform: translate(0,-25px);
  position:relative;
  z-index: 0;
}
.radioDiv{
  position:absolute;
  z-index:1;
}
/****************************************************************************/
/* The container */
.radioContainer {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radioButton {
  position: absolute;
  top: 9px;
  left: -5px;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .radioButton {
  background-color: #ccc;
}

.radioButton{
  transform: translate(0px,-7px);
}
/* When the radio button is checked, add a blue background */
/* .radioContainer input:checked ~ .radioButton {
  background-color: #2196F3;
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioButton:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radioButton:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .radioButton:after {
 	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
}
#originSelection:after {
	background: #009E2B;
}
#destinationSelection:after {
	background: #E6233A;
}
/****************************************************************************/
#svgFuel .area-label {
	font-size: 20px;
	fill: #555;
	opacity: 0;
}
#svgFuel .chart-label {
	font-size: 24px;
	fill: #000;
}
#svgFuel .tick text {
	fill: #000;
	stroke: none;
	font-size: 22px;
	font-family: "Noto Sans", sans-serif;
}
#svgFuel .axis .tick line {
  stroke: #000;
}
#svgFuel .axis path  {
  stroke: #000;
}
.fueldata #chrt-dt-tbl  {
  font-size: 18px;
}
#mapTitleRoad, #areaTitleRoad {
  font-weight: bold;
}
/* -- map colour bar related -- */
#mapColourScale text {
	fill: #565656;
	stroke: "none";
	font-size: 13px;
}
.roadmapCBlabel {
	position: relative;
	top: -150px;
  right: -195px;
	color: #565656;
	text-align: left;
}
table, th, td {
  font-size: 12px;
}

/*air dataset*/
/*-- titles for map and charts --*/
#mapTitleAir, #areaTitleAir {
  font-weight: bold;
}
/*-- table --*/
.airdata #chrt-dt-tbl  {
/*  position: relative;
  top: -150px;*/
  font-size: 18px;
}
.airdata #chrt-dt-tbl1  {
/*  position: relative;
  top: -150px;*/
  font-size: 18px;
}

/*-- map --*/
.airCB rect {
	stroke: black;
	stroke-width: 0.0;
}
.airMapHighlight {
 	stroke: #9e9d9d !important;
	stroke-width: 0.5 !important;
}
.airmapCBlabel { /* colour bar label */
	position: relative;
	top: -150px;
  right: -220px;
	color: #565656;
	text-align: left;
}
.classNaN text {
  fill: #565656;
  font-size: 13px;
}

/*-- airport circle fill --*/
.hasData {
	fill: #FFF84C;
	stroke: white;
	stroke-width: 0.2px;
	cursor: pointer;
  pointer-events: all;
  visibility:visible;
}
.noData {
visibility: hidden;
}
.dontShow {
	opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*-- area chart --*/
.airAreaCB text {
	font-size: 14px;
	fill: #000;
}

.airAreaCB text {
	font-size: 14px;
	fill: #000;
}

#svg_areaChartAir .area-label {
	font-size: 20px;
	fill: #3D3D3D;
  opacity: 0;
}
#svg_areaChartAir .tick text {
	fill: #000;
	stroke: none;
	font-size: 22px;
	font-family: "Noto Sans", sans-serif;
}
/* major airports tick classes */
#svg_areaChartAir .tickJan text {
	fill: #000;
	stroke: none;
	font-size: 22px;
	font-family: "Noto Sans", sans-serif;
}
#svg_areaChartAir .tick.Jan line {
	stroke-width: 5px;
}
#svg_areaChartAir .tick.notJan text {
	opacity: 0;
}
/* ---- */

#svg_areaChartAir .axis path  {
  stroke: #000;
}
#svg_areaChartAir .axis .tick line {
  stroke: #000;
}
#svg_areaChartAir .chart-label {
	font-size: 22px;
	fill: #555;
}

#areaLegend {
	display:flex
}

.areaLegendLabel {
  font-size: 13px;
  display: inline-block;
  margin-right: 5px;
}
.areaLegendLabel::before{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  transform: translate(0,3px);
}

#domesticLabel::before{
  background: #F6CF22;
  opacity: 0.6;
}

#transborderLabel::before {
  background: #a6611a;
  opacity: 0.6;
}

#intlLabel::before {
  background: #83C3F2;
  opacity: 0.6;
}

#gasLabel::before {
	background: #EDDB7C;
}
#dieselLabel::before {
	background: #F99691;
}
#lpgLabel::before {
	background: #5DC1BE;
}

.domestic {
	fill: #F6CF22;
	opacity: 0.6;
}

.transborder {
	fill: #a6611a;
  opacity: 0.6;
}
.international {
  fill: #83C3F2;
	opacity: 0.6;
}
.areaChartTitle {
	font-size: 14px;
	font-weight: bold;
}
.total {
	fill: #C1D699;
}
.domain {
	display: none;
}
.tick text {
	fill: #000;
	stroke: none;
	font-size: 10px;
	font-family: "Noto Sans", sans-serif;
}
.tick line {
	stroke: none;
}
/* line chart for air */
.line svg text {
	fill: black;
}
.line svg .tick line,
.line svg .domain {
	stroke: black;
}
#svg_aptChart {
  position: relative;
  top: -70px;
}
#svg_aptChart .area  {
  opacity: 0.5;
}
#svg_aptChart .area2  {
  fill: #046D8B;
	opacity: 0.7;
}
#svg_aptChart .area1  {
  fill: #D4C098;
	opacity: 1;
}
#svg_aptChart .chart-label {
	font-size: 7px;
	fill: #555;
}
#svg_aptChart .tick text {
	font-size: 8px;
}
#svg_aptChart .area-label {
	font-size: 7px;
	fill: #333333;
}
.line-label, .chart-label {
	font-size: 9px;
	fill: #555;
}
.area-label {
	font-size: 12px;
	fill: #555;
}

.tick text {
	font-size: 8px;
}
.domain {
	display: inline;
}
#svg_aptChart .axis path  {
  stroke: #000;
}
#svg_aptChart .axis .tick line {
  stroke: #000;
}
#svg_aptChart .areaChartTitle {
  font-size: 8px;
  fill: #555;
  font-weight: bold;
}

/*rail dataset*/
/*-- barChart --*/
/* #railTitleBarChart {
  font-weight: bold;
  font-size: 12px;
} */

.bar {
  fill: #0278A4;
}
.railBar .tick text {
	font-size: 58px;
}
.raildata text {
	font-size: 22px;
}
/* SOLID LINES */
.legendLine.ABto, .dline.ABtoAB, .dline.ABtoAT, .dline.ABtoBC, .dline.ABtoMB,
.dline.ABtoON, .dline.ABtoQC, .dline.ABtoSK, .dline.ABtoUS-MEX {
  stroke: #c994c7;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine.ATto, .dline.ATtoAB, .dline.ATtoAT, .dline.ATtoBC, .dline.ATtoMB,
.dline.ATtoON, .dline.ATtoQC, .dline.ATtoSK, .dline.ATtoUS-MEX
 {
  stroke: #555;
  stroke-width: 3px;
}
.legendLine.BCto, .dline.BCtoAB, .dline.BCtoAT, .dline.BCtoBC, .dline.BCtoMB,
.dline.BCtoON, .dline.BCtoQC, .dline.BCtoSK, .dline.BCtoUS-MEX {
  stroke: #1B676B;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine.MBto, .dline.MBtoAT, .dline.MBtoAB, .dline.MBtoBC, .dline.MBtoMB,
.dline.MBtoON, .dline.MBtoQC, .dline.MBtoSK, .dline.MBtoUS-MEX {
  stroke: #31a354;
  stroke-width: 2px;
}
.legendLine.ONto, .dline.ONtoAT, .dline.ONtoAB, .dline.ONtoBC, .dline.ONtoMB,
.dline.ONtoON, .dline.ONtoQC, .dline.ONtoSK, .dline.ONtoUS-MEX  {
  stroke: #555;
  stroke-width: 2px;
}
.legendLine.QCto, .dline.QCtoAT, .dline.QCtoAB, .dline.QCtoBC, .dline.QCtoMB,
.dline.QCtoON, .dline.QCtoQC, .dline.QCtoSK, .dline.QCtoUS-MEX  {
  stroke: #3182bd;
  stroke-width: 4px;
}
.legendLine.SKto, .dline.SKtoAT, .dline.SKtoAB, .dline.SKtoBC, .dline.SKtoMB,
.dline.SKtoON, .dline.SKtoQC, .dline.SKtoSK, .dline.SKtoUS-MEX {
  stroke: #dd1c77;
  stroke-width: 4px;
}
/* DASHED LINES dline2 */
.legendLine2.ABto, .dline2.ABtoAB, .dline2.ABtoAT, .dline2.ABtoBC, .dline2.ABtoMB,
.dline2.ABtoON, .dline2.ABtoQC, .dline2.ABtoSK, .dline2.ABtoUS-MEX {
  stroke: #c994c7;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.ATto, .dline2.ATtoAB, .dline2.ATtoAT, .dline2.ATtoBC, .dline2.ATtoMB,
.dline2.ATtoON, .dline2.ATtoQC, .dline2.ATtoSK, .dline2.ATtoUS-MEX
 {
  stroke: #555;
  stroke-width: 3px;
  stroke-dasharray: 4px;
}
.legendLine2.BCto, .dline2.BCtoAB, .dline2.BCtoAT, .dline2.BCtoBC, .dline2.BCtoMB,
.dline2.BCtoON, .dline2.BCtoQC, .dline2.BCtoSK, .dline2.BCtoUS-MEX {
  stroke: #1B676B;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.MBto, .dline2.MBtoAT, .dline2.MBtoAB, .dline2.MBtoBC, .dline2.MBtoMB,
.dline2.MBtoON, .dline2.MBtoQC, .dline2.MBtoSK, .dline2.MBtoUS-MEX {
  stroke: #31a354;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.ONto, .dline2.ONtoAT, .dline2.ONtoAB, .dline2.ONtoBC, .dline2.ONtoMB,
.dline2.ONtoON, .dline2.ONtoQC, .dline2.ONtoSK, .dline2.ONtoUS-MEX  {
  stroke: #555;
  stroke-width: 2px;
  stroke-dasharray: 2px;
}
.legendLine2.QCto, .dline2.QCtoAT, .dline2.QCtoAB, .dline2.QCtoBC, .dline2.QCtoMB,
.dline2.QCtoON, .dline2.QCtoQC, .dline2.QCtoSK, .dline2.QCtoUS-MEX  {
  stroke: #3182bd;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.SKto, .dline2.SKtoAT, .dline2.SKtoAB, .dline2.SKtoBC, .dline2.SKtoMB,
.dline2.SKtoON, .dline2.SKtoQC, .dline2.SKtoSK, .dline2.SKtoUS-MEX {
  stroke: #dd1c77;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}


/* END LINES */


/* y-axis label (Tonnage)
Show only for top 2 charts
*/
#tonnageDivId .chart-label {
  font-size: 20px;
  fill: #555;
}

#commTableTitle {
	font-size: 20px;
	color: #333;
  	font-weight: bold;
}
.rail .ATR {
	fill: #e5c494;
}
.rail .QC {
	fill: #ffd92f;
}
.rail .ON {
	fill: #137991
}
.rail .MB {
	fill: #e78ac3;
}
.rail .SK {
	fill: #8da0cb;
}
.rail .AB {
	fill: #fc8d62;
}
.rail .BC {
	fill: #66c2a5;
}
.rail .US {
	fill: #7fbc41;
}
.rail .USMX {
	fill: #4d9221;
}
.rail .USMX {
	fill: #737373;
}
.inactive-region {
	opacity: 0.1 !important;
}

.comm_yr {
	fill: #666666;
  	stroke: none;
	font-size: 16px;
}
.comm_type {
	fill: #666666;
  	stroke: none;
	font-size: 14px;
}
.comm_value {
	fill: #666666;
  stroke: none;
	font-size: 14px;

}
.bubble-row-text:lang(fr) {
  font-size: 8.5px;
  text-anchor: start;
}
.bubble-row-text:lang(en) {
  font-size: 10px;
  text-anchor: start;
}
.bubble-text {
  font-size: 10px;
  text-anchor: middle;
}
.bubble-col {
  font-size: 12px;
}
.bubble-col .tick {
  text-anchor: middle;
}
.bubble-col .tick text {
  font-size: 12px;
  fill: #333;
}

/* rail commodities */
.wheat circle {
	fill: #1f77b4;
}
.ores circle {
	fill: #ff7f0e;
}
.coal circle {
	fill: #2ca02c;
}
.potash circle {
	fill: #2A2C31;
}
.mixed circle {
	fill: #9467bd;
}
.lumber circle {
	fill: #8c564b;
}
.canola circle {
	fill: #e377c2;
}
.oils circle {
	fill: #7f7f7f;
}
.chems circle {
	fill: #bcbd22;
}
.pulp circle {
	fill: #17becf;
}
.other circle {
	fill: #64997D;
}

#svgBar .bar-label {
	fill: #555;
	opacity: 0;
}
#svgBar .chart-label {
	fill: #000;
}
#svgBar .tick text {
	fill: #000;
	stroke: none;
	font-family: "Noto Sans", sans-serif;
}
#svgBar .axis .tick line {
  stroke: #000;
}
#svgBar .axis path  {
  stroke: #000;
}


.inactive {
	pointer-events: none;
	opacity: 0.5;
}
.active {
	pointer-events: auto;
}

/*expt rail dataset*/
div.tooltip {
	position: absolute;
	padding: 5px;
	text-align: left;
	font: 12px sans-serif;
	color: #000;
	background: #AAA;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	border-radius: 8px;
}


/*map*/
.canada-map path {
	fill: #94a6b2;
	stroke: #fff;
	stroke-width: 0.3;
	opacity: 1;
}

/*modes dataset*/
/*-- table --*/
/* #modesTable summary {
	font-size: 18px;
}
#modesTable #only-dt-tbl  {
  font-size: 18px;
} */


/*-- Sankey --*/
/*-- div that displays zero data message --*/
#zeroFlag {
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 20%;

}

.node rect {
  fill-opacity: .9;
  stroke: #fff;
  stroke-width: 0.5px;
  /* shape-rendering: crispEdges; */
}

.node text {
  text-shadow: 0 1px 0 #fff;
	font-size: 12px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-opacity: .3;
}

.link:hover {
  stroke-opacity: .5;
}
/* node rect colours */
.intl rect {
  fill: #607890;
}
.USres rect {
	fill: #CC982A;
	}
.nonUSres rect {
	fill: #928941;
	}
.cdnFromUS rect {
	fill: #FFDC68;
	}
.cdnFromOther rect {
	fill: #FAB491;
}
.USres_land rect {
	fill: #CC982A;
}
.USres_air rect {
	fill: #CC982A;
}
.USres_marine rect {
	fill: #CC982A;
}
.USres_car rect {
	fill: #CC982A;
}
.USres_bus rect {
	fill: #CC982A;
}
.USres_train rect {
	fill: #CC982A;
}
.USres_other rect {
		fill: #CC982A;
}
.nonUSres_land rect {
	fill: #928941;
}
.nonUSres_air rect {
	fill: #928941;
}
.nonUSres_marine rect {
	fill: #928941;
}
.cdnFromUS_land rect {
 fill: #FFDC68;
}
.cdnFromUS_air rect {
	fill: #FFDC68;
}
.cdnFromUS_marine rect {
	fill: #FFDC68;
}
.cdnFromUS_car rect {
	fill: #FFDC68;
}
.cdnFromUS_bus rect {
	 fill: #FFDC68;
}
.cdnFromUS_train rect {
	fill: #FFDC68;
}
.cdnFromUS_other rect {
	fill: #FFDC68;
}
.cdnFromOther_land rect {
	fill: #FAB491;
}
.cdnFromOther_air rect {
	fill: #FAB491;
}
.cdnFromOther_marine rect {
	fill: #FAB491;
}

/* copy button */
.copy-button .copy-confirm {
	visibility: hidden;
	position: absolute;
	top: 5px;
	right: 50px;
	background: #eaebed;
	line-height: 25px;
	border-radius: 4px;
	border: solid thin black;
	padding: 5px;
	color: #333;
  font-size: 14px;

	box-shadow: -2px 2px 6px rgba(35, 35, 35, 0.5);
	-moz-box-shadow: -2px 2px 6px rgba(35, 35, 35, 0.5);
	-webkit-box-shadow: -2px 2px 6px rgba(35, 35, 35, 0.5);
}

.copy-button  .btn.btn-primary.copy .clipboard{
	font-size: 18px;
}

.copy-button {
  position: relative;
	text-align: right;

}
/* Fade In Fade Out */
.fadeIn {
	-webkit-animation: fadeIn 0.5s forwards;
	animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
	0% 	 { opacity: 0; visibility:visible }
	100% { opacity: 1; visibility:visible }
}

@-webkit-keyframes fadeIn {
	0% 	 { opacity: 0; visibility:visible }
	100% { opacity: 1; visibility:visible }
}

.fadeOut {
	-webkit-animation: fadeOut 0.5s forwards;
	animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
	0% 	 { opacity: 1; visibility:visible }
	100% { opacity: 0; visibility:hidden; z-index:1; }
}

@-webkit-keyframes fadeOut {
	0% 	 { opacity: 1; visibility:visible }
	100% { opacity: 0; visibility:hidden; z-index:1; }
}

.tabledata .row-level-1 th{
 padding-left: 20px;
}

.tabledata .row-level-2 th{
	padding-left: 40px;
}

.tabledata .row-level-3 th{
	padding-left: 60px;
}

#loading-gif{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background-position: center;
    position: fixed;
    display: block;
    opacity: 0.6;
    background-color: #fff;
    z-index: 1000000;
    text-align: center;
}

#loading-gif img {
  margin-top: 250px;
}
